<div class="row">
    {{#if polls}}
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" width="300">Pregunta</th>
                    <th scope="col" width="180">Respostes positives</th>
                    <th scope="col" width="180">Respostes negatives</th>
                    <th scope="col">Data de creació</th>
                    <th scope="col">Acció</th>
                </tr>
            </thead>
            {{#each polls}}
                <tbody>
                    <tr class="table-light">
                        <td>{{question}}</td>
                        <td>{{yes}}</td>
                        <td>{{no}}</td>
                        <td>{{date}}</td>
                        <td>
                            <form action="/polls/delete/{{_id}}?_method=DELETE" method="POST">
                                <input type="hidden" name="_method" value="DELETE">
                                <div class="form-group">
                                    <button class="btn btn-danger btn-block" type="submit">Esborrar</button>
                                </div>
                            </form>
                        </td>
                    </tr>
                </tbody>
            {{/each}}
        </table>
    {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-header"><h4>Afegir enquesta</h4></div>
                <div class="card-body">
                    <p>Crea una enquesta:</p>
                    <form action="/polls/new-event" method="POST">
                        <div class="form-group">
                            <input type="text" name="question" class="form-control" placeholder="Pregunta" autofocus>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-block" type="submit">Crear</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {{/if}}
</div>