<div class="row">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Títol</th>
                <th scope="col" width="500">Descripció</th>
                <th scope="col">Data de creació</th>
                <th scope="col">Ubicació</th>
                <th scope="col">Acció</th>
            </tr>
        </thead>
        {{#each incidents}}
            <tbody>
                {{#if resolved}}
                    <tr class="table-success">
                        <td>{{title}}</td>
                        <td>{{description}}</td>
                        <td>{{date}}</td>
                        <td>{{location}}</td>
                        <td></td>
                    </tr>
                {{else}}
                    <tr class="table-light">
                        <td>{{title}}</td>
                        <td>{{description}}</td>
                        <td>{{date}}</td>
                        <td>{{location}}</td>
                        <td>
                            <form action="/incidents/edit-incident/{{_id}}?_method=PUT" method="POST">
                            <input type="hidden" name="_method" value="PUT"> 
                                <div class="form-group">
                                    <button class="btn btn-success" type="submit">Resoldre</button>
                                </div>
                            </form>
                        </td>
                    </tr>
                {{/if}}
            </tbody>
        {{/each}}
    </table>
</div>
